<nav>
  <ul>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Iniciar sesión</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/register">Registrarse</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/test">Hacer test</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/results">Ver resultados</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/stats">Estadísticas</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a (click)="authService.logout()">Cerrar sesión</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a (click)="filterComponent.toggleFilter()">Filtrar</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<!--<app-filter *ngIf="authService.isLoggedIn()" #filterComponent></app-filter>-->
